#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --col-count: 5;
  background-color: #FCFCFC
}

.grid {
  display: grid;
  grid-template-columns: repeat(calc(var(--col-count) - 2), 1fr);
  gap: 20px;
  overflow: hidden;
}
